version: "3"

services:

  api_app000:
    container_name: nest-api
    build: .
    # environment:
    #   - X=1
    ports:
      - 8081:3001
    volumes:
      - .:/home/app
    depends_on:
      - postgres_app000
    env_file:
      - .env
  
  postgres_app000:
    container_name: pg_app000
    image: postgres:14.5
    restart: always
    ports:
      - 5555:5432
    env_file:
      - .env
    volumes:
      - vol_postgres_app000:/var/lib/postgresql/data

volumes:
  vol_postgres_app000:
