<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>promo</title>
    <meta name='viewport' content='width=640' />
    <style type='text/css'>
      .P-1 { line-height:1px;font-family:"Verdana",
      sans-serif;font-style:italic;font-weight:700;color:#000000;background-color:transparent;font-variant:small-caps;font-size:16.0px;vertical-align:0;letter-spacing:0.27px;
      } .C-1 { line-height:19.80px;font-family:"Verdana",
      sans-serif;font-style:italic;font-weight:700;color:#000000;background-color:transparent;text-decoration:none;font-variant:small-caps;font-size:16.0px;vertical-align:0;letter-spacing:0.27px;
      } .P-2 { text-align:center;line-height:1px;font-family:"Verdana",
      sans-serif;font-style:normal;font-weight:700;color:#000000;background-color:transparent;font-variant:normal;font-size:19.0px;vertical-align:0;
      } .C-2 { line-height:23.00px;font-family:"Verdana",
      sans-serif;font-style:normal;font-weight:700;color:#000000;background-color:transparent;text-decoration:none;font-variant:normal;font-size:18.7px;vertical-align:0;
      } body {margin:0;padding:0;word-wrap:break-word;} img {border:none;} input
      {border:1px solid black;border-radius:2px;padding:0;} input[type=image] {
      border: none; } textarea {border:1px solid black;padding:0;} *
      {box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-ms-box-sizing:content-box;}
      a:link {color:#2d4354;text-decoration:none;} a:active
      {color:#c6302b;text-decoration:underline;} a:hover
      {color:#27353f;text-decoration:underline;} a:visited
      {color:#27353f;text-decoration:none;} .DefaultParagraph {
      text-align:left;margin:0px;text-indent:0.0px;line-height:1px;font-family:"Verdana",
      sans-serif;font-style:normal;font-weight:normal;color:#000000;background-color:transparent;font-variant:normal;font-size:16.0px;vertical-align:0;
      } .Body { text-align:left;margin:0px 0px
      12px;text-indent:0.0px;line-height:1px;font-family:"Verdana",
      sans-serif;font-style:normal;font-weight:normal;color:#000000;background-color:transparent;font-variant:normal;font-size:16.0px;vertical-align:0;
      } .Normal {
      text-align:left;margin:0px;text-indent:0.0px;line-height:1px;font-family:"Verdana",
      sans-serif;font-style:normal;font-weight:normal;color:#000000;background-color:transparent;font-variant:normal;font-size:16.0px;vertical-align:0;
      }

    </style>
  </head>
  <body style='height:502px;background:#ffffff;'>
    <div
      id='divMain'
      style='background:#e6e7e4;margin-left:auto;margin-right:auto;position:relative;width:640px;height:480px;top:12px;'
    >
      <div
        style='position:absolute;left:115px;top:127px;width:411px;height:159px;overflow:hidden;'
      >
        <p class='Body P-1'><span class='C-1'>In eget sapien vitae massa rhoncus
            lacinia. Nullam at leo nec metus aliquam semper. Phasellus
            tincidunt, ante nec lacinia ultrices, quam mi dictum libero, vitae
            bibendum turpis elit ut lectus. Sed diam ante,
          </span></p>
      </div>
      <div
        style='position:absolute;left:215px;top:55px;width:210px;height:32px;overflow:hidden;'
      >
        <p class='Body P-2'><span class='C-2'>Promo message</span></p>
      </div>
      <div
        style='position:absolute;left:115px;top:286px;width:411px;height:79px;'
      >
        <!--Body-->
        {{message}}
        <hr />
        {{link}}
      </div>
    </div>
  </body>
</html>